aside {
  height: 100%;
  position: relative;
  overflow: auto;

  &.show {
    opacity: 1;
    min-width: 260px;
    text-align: center;
    transition: 300ms all linear;
    .brand {
      transition: 400ms all linear;
    }
  }

  &.hide {
    opacity: 0;
    width: 0;
    transition: 300ms all linear;
    .brand {
      opacity: 0;
      width: 0;
      transition: 300ms all linear;
    }
  }

  .brand {
    opacity: 1;
    width: 220px;
    padding: 20px;
    position: fixed;
  }

  &.blue,
  .blue {
    background-image: linear-gradient(126deg, #8700ef, #4430f2, #113df2);
  }

  a {
    text-decoration: none;
  }

  nav {
    margin-top: 120px;
  }
}
