@import '../../scss/utils/variables';

.wrap-text-component {
    h4 {
        font-family: $font-family;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: -0.1px;
        color: $secondary;
        margin: 0;
    }
    span:first-child {
        font-family: $font-family;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: -0.1px;
        color: $secondary;
        margin: 0;
    }
    hr {
        border: solid 1px;
    }
}


