@import '../scss/utils/variables';

.chip-component {
  height: 14px !important;
  border-radius: 100px !important;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06) !important;
  border: solid 1px rgba(68, 48, 242, 0.25) !important;
  background-color: rgba(68, 48, 242, 0.05) !important;
  font-family: $font-family;
  font-size: 10px !important;
  font-weight: normal !important;
  font-style: italic !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: -0.1px !important;
  text-align: center !important;
  color: #363636 !important;
  &.error {
    color: $error !important;
  }
  &.select-chip-component {
    height: 21px !important;
    padding-left: 0px !important;
    border-radius: 100px !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06) !important;
    border: solid 1px rgba(68, 48, 242, 0.25) !important;
  }
}

.chip-component-icon {
  width: 22px !important;
  height: 20px !important;
}
