html,
body {
  height: 100%;
  box-sizing: border-box;
}

#root {
  display: flex;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;

  main {
    width: calc(100% - 260px);
    right: 0;
    position: relative;
    padding: 40px;
    transition: 300ms all linear;

    &.fullWidth {
      width: 100%;
      transition: 300ms all linear;
    }
  }

  h3 {
    font-size: 22px;
  }
}
