@import '../scss/utils/variables';

.snackbar-component {
  text-transform: none !important;
  font-family: $font-family;
  font-size: 18px !important;
  font-weight: bold !important;
  font-style: normal !important;
  text-align: center !important;
}
