@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.consultation-card-component {
  font-family: $font-family;
}

.consultation-card-component-date {
  width: 77px;
  height: 10px;
  font-family: $font-family;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: right;
  color: #363636;
}

.consultation-card-component-title {
  font-family: $font-family;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: $secondary;
}

.consultation-card-component-id {
  font-family: $font-family;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #363636;
}

.consultation-card-component-icon {
  width: 6px;
  height: 6px;
  opacity: 0.5;
  margin-left: 8px;
}

.pointer {
  cursor: pointer;
}

.consultation-card-component-description {
  font-family: $font-family;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #363636;
}

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
