@import '../../scss/utils/variables';

.select-component {
  text-transform: none !important;
  font-family: $font-family;
  font-size: 18px !important;
}

.select-chip-component-icon {
  width: 22px !important;
  height: 20px !important;
}

.select-chip-component-icon-close {
  font-size: 16px !important;
  color: blue !important;
  top: 2px !important;
  left: 8px !important;
  position: absolute !important;
}

.select-chip-component-icon-info {
  margin-right: 10px !important;
  margin-left: 0px !important;
  height: 7px !important;
}
