@font-face {
	font-family: 'BariolRegular';
	src: url('./BariolRegular.eot');
	src: local('BariolRegular'), url('./BariolRegular.woff') format('woff'), url('./BariolRegular.ttf') format('truetype');
}
