@import '../../modules/scss/utils/variables';

.dashboard-scrollbar {
  height: 400px;
  overflow-y: auto;
}

.dashboard-card {
  height: 160px;
  width: 312px;
}

.dashboard-vertical-menu {
  width: 89px;
  height: 100%;
}
