section {
  &.itemNav {
    background: white;
    transition: all 300ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    border-radius: 3px;
    background-color: transparent;
    margin: 10px 15px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
  }

  .itemTextNav {
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-decoration: none;
  }

  i {
    color: white;
  }
}

.active {
  .itemNav {
    background: white;
  }
  .itemTextNav {
    color: #113df2;
  }

  i {
    color: #113df2;
  }
}
