@import '../../scss/utils/variables';

.scrollbar-component {
  overflow: auto;
  height: 100%;
  flex-grow: 1;
  /* for Firefox */
  min-height: 0;

  &::-webkit-scrollbar {
    width: $scrollbar-width
  }

  /* Track */
  &::-webkit-scrollbar-track {}

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken($primary, 15%)
  }
}


