@import '../../scss/utils/variables';

.vertical-menu-chat-component {
  width: 100%;
  height: 100%;
  box-shadow: 0 5.5px 5px 0 rgba(0, 0, 0, 0.24), 0 9px 18px 0 rgba(0, 0, 0, 0.18);
  background-color: #f9f9f9;
}

.vertical-menu-chat-component-bar{
  width: 65px;
  height: 87px;
  &.logo {
    background-color: $secondary;
  }
  img {
    width: 44px;
    height: 44px;
    &.option {
      width: 24px;
      height: 24px;
      color: #363636;
    }
  }
}
