@import './utils/variables';
@import './utils/mixins';

/* GLOBAL MODULES STYLE */

* {
  font-family: $font-family;
}

.flex {
  @include flex(flex);
  @include align-content(center);
  @include align-item(center);
  @include flex-wrap(nowrap);
  &.column {
    @include flex-direction(column);
  }
  &.f-start {
    @include justify-content(start);
  }
  &.f-flex-end {
    @include justify-content(flex-end);
  }
  &.f-space-between {
    @include justify-content(space-between);
  }
  &.f-center {
    @include justify-content(center);
  }
  &.f-align-item-start {
    @include align-item(start);
  }
}

.height-100 {
  height: 100%;
}

.height-40 {
  height: 40%;
}

.height-20 {
  height: 20%;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-60 {
  width: 60%;
}

.width-20 {
  width: 20%;
}

.margin-r-20p {
  margin-right: 20px;
}

.margin-b-5p {
  margin-bottom: 5px !important;
}

.margin-b-10p {
  margin-bottom: 10px !important;
}

.margin-tb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-tb-10p {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.padding-20p {
  padding: 20px !important;
}

.padding-r-20p {
  padding-right: 20px;
}

.padding-tb-10p {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-tb-5p {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.padding-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.paddin-lr-10p {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-truncate {
  @include text-overflow(ellipsis);
  @include overflow();
  @include white-space();
}
