@import '../../modules/scss/utils/variables';

.consultations-form-opened-scrollbar {
  height: 400px;
  overflow-y: auto;
}

.consultations-form-opened-card {
  height: 160px;
  width: 312px;
}

.consultations-form-opened-vertical-menu {
  width: 89px;
  height: 100%;
}

.scrollable-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.dashboard-vertical-menu-chat {
  width: 65px;
  height: 100%;
}