@import '../../../scss/utils/variables';

.menu-item-component {
  text-transform: none !important;
  text-align: center !important;
  font-family: $font-family;
  font-size: 18px !important;
  min-width: 185px;
  &.error {
    color: $error;
  }
}
