header {
  display: flex;
  align-items: center;

  .iconButton {
    flex-grow: 1;
    display: none;
    font-size: 26px;

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  .title {
    flex-grow: 5;
  }
}
