@import '../scss/utils/variables';

.button-component {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26) !important;
  text-transform: none !important;
  font-family: $font-family;
  font-size: 18px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: 0.2px !important;
  text-align: center !important;
  border-radius: 24px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
