@import '../../scss/utils/variables';

.text-count-component {
  font-family: $font-family;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $secondary;
  &.counter {
    color: #363636;
  }
}
