
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7ccd9704-0aea-48d8-bfea-baf22ab4191c");
@font-face{
    font-family:"Avenir";
    src:url("57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
    src:url("57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"),url("15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Avenir";
    src:url("e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src:url("e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
    font-weight: 500;
    font-style: 500;
}
@font-face{
    font-family:"Avenir";
    src:url("f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
    src:url("f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
    font-weight: bold;
    font-style: bold;
}
