@import '../scss/utils/variables';

.message-box-component {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26) !important;
  text-transform: none !important;
  font-family: $font-family;
  font-size: 18px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: 0.2px !important;
  text-align: center !important;
  border-radius: 24px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.bubble-time{
  width: 29.8px;
  height: 11px;
  font-family: $font-family;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  &.no-icon {
    vertical-align: middle;
  }
  vertical-align: super;
  color: #a2a2a2;
  margin-left: 5px;
  margin-right: 3px;
}

.from-input{
  position: relative;
  padding: 10px 20px;
  color: #363636;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgb(199, 194, 252);
  background-color: #ffffff;
  &.no-icon {
    vertical-align: middle;
  }
}

.from-unknown{
  word-wrap: break-word;
  position: relative;
  padding: 10px 20px;
  color: #363636;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgb(199, 194, 252);
  background-color: #a5eae8;
  &.no-icon {
    vertical-align: middle;
  }
}

.from-date{
  position: relative;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  background-color: #4430f2;
  &.no-icon {
    vertical-align: middle;
  }
}

.from-me {
  word-wrap: break-word;
	position: relative;
  padding: 10px 20px;
  color: $secondary;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgb(199, 194, 252);
  background-color: #f5f4ff;
  width: fit-content;
  max-width: -webkit-fill-available;
  margin-left: auto;

  span:nth-child(1) {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: -2px;
      right: -7px;
      height: 20px;
      border-right: 22px solid rgb(199, 194, 252);
      border-bottom-left-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      right: -57px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
  span:nth-child(2) {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 1px;
      right: 0px;
      height: 17px;
      border-right: 18px solid #f5f4ff;
      border-bottom-left-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      right: -57px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
  span:nth-child(3) {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: -2px;
      right: -15px;
      height: 20px;
      border-right: 18px solid rgb(199, 194, 252);
      border-bottom-left-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      right: -57px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
}

.from-them {
  word-wrap: break-word;
	position:relative;
	padding:10px 20px;
  color: #363636;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgb(199, 194, 252);
  background-color: #eeedf8;
  width: fit-content;
  max-width: -webkit-fill-available;
  margin-right: auto;

  span:nth-child(1) {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: -2px;
      left: -7px;
      height: 20px;
      border-left: 22px solid rgb(199, 194, 252);
      border-bottom-right-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      left: 3px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
  span:nth-child(2) {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 1px;
      left: 0px;
      height: 17px;
      border-left: 18px solid #eeedf8;
      border-bottom-right-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      left: 3px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
  span:nth-child(3) {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: -2px;
      left: -15px;
      height: 20px;
      border-left: 18px solid rgb(199, 194, 252);
      border-bottom-right-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      left: 3px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
}

.from-wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
